body {	background-color: #FFFFFF;}

.center {
	text-align: center;
	color: black;   
}

input[type="user"], input[type="password"]{
	max-width: 67%;
	margin-top: 8%;
	margin-bottom: 2%;
	text-align: center;
	margin: 7% 0% 0% 23%;
}


/**
p.ex {
    margin: 0px 300px;
    width: 40%;
    text-align: center;
   
}

h1{
	 width: 10%;
	margin: 40px 300px;
	color: #000000;
	text-align: center;
}.required {	color: red;}

input.required {
	border: 2px solid red;
}

div.form-general-info span.required 
{
	color: blue;
}	

	h3 {
	color: #000000;
	text-align: left;
	
  

}.required {	color: red;}

input.required {
	border: 2px solid red;
}

div.form-general-info span.required 
{
	color: blue;
}

input.required {
	border: 2px solid red;
}

div.form-general-info span.required 
{
	color: blue;
}
div.img img{

}
**/
#boton{ 
	background:-moz-linear-gradient(#fc0 0%,#F60 100%); 
	background:-ms-linear-gradient(#fc0 0%,#F60 100%);
	background:-o-linear-gradient(#fc0 0%,#F60 100%); 
	background:-webkit-linear-gradient(#fc0 0%,#F60 100%);
	background:linear-gradient(#fc0 0%,#F60 100%);
	border:solid 3px #DEDEDE; 
	border-radius:25px;
	text-align:center;
	padding:5px; 
	color:#fff;
	width:100px;
	float: left;
	margin: 6% 0% 0% 32%;
} 
#boton:hover{
	background:-moz-linear-gradient(#fff 0%,#DEDEDE 100%);
	color:#999; 
}
.city {
	float: center;
	margin: 15%;    
	width: 27%;
	height: 187px;
	border: 3px solid black;
	-webkit-border-radius: 13px 13px 13px 13px;
	margin: 0 auto;
	margin-top: 16%;
}

#header{
 height: 68%;
 background: black;
 border: 2px solid #000000;
 overflow: hidden;
}

.menu{
	float: left;
}

.menu ul{
	margin-top: 13px;
}

.menu li{
	display: inline-block;
	padding: 5px 0;
	text-align: center;
	border-width: 2px;
	width: 200px;
	border-color: #ffffff;
}

.menu li a{
	color: #ffffff;
	border: 1px dashed #ffffff;
	text-decoration: none;
}